@import "style";

.header .container {
  background: transparent;
}

.hero {
  background: url("https://9to5mac.com/wp-content/uploads/sites/6/2021/09/Apple-TV.png?w=1600");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 12.5rem;
    margin-bottom: 7rem;
  }

  .hero__item-path {
    color: var(--gray-2);
  }
}

.hero--light {
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/20762144-bfed-4abd-a536-6972f268af9d/d506tek-64e6a06e-51e5-45af-bec0-af02d2eadbe4.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzIwNzYyMTQ0LWJmZWQtNGFiZC1hNTM2LTY5NzJmMjY4YWY5ZFwvZDUwNnRlay02NGU2YTA2ZS01MWU1LTQ1YWYtYmVjMC1hZjAyZDJlYWRiZTQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.iEJbIdK4uPcYaDAWuRLQc2iSyJRkAXsTD-cRC7haCPU");
  background-position: center;
  background-size: cover;
}

.header {
  margin-bottom: 28rem;
}
.header-clearfix {
  margin-bottom: 33rem !important;
}

.post__logo {
  width: 150px;
  height: 150px;
  border-radius: 2rem;
}

.post__main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 2rem;
}

.post-main__header {
  display: flex;
  gap: 3rem;
}

.post-main__details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.post-main__tags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.post-main__tag {
  border-radius: 5px;
  background: var(--job-page-tags);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.75rem;
}

.post__main {
  margin-top: 4rem;
  margin-bottom: 4rem;

  display: grid;
  grid-template-columns: 7fr 4fr;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.post-main__main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-main__positions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-position {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--job-page-tags);
  border-radius: 1rem;
  overflow: hidden;
  padding: 2rem;
  gap: 0.7rem;
  .position__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

